[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
odeanimate = {editable = true, path = "."}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
coverage = "*"
ffmpeg-python = "*"
handout = "*"
install = "*"
jupyterlab = "*"
matplotlib = "*"
pylint = "*"
pytest = "*"
pytest-html = "*"
setuptools = "*"

[requires]
python_version = "3.9"

[scripts]
clean = "rm -rf html"
docs = "./scripts/build_docs.sh"
examples = "./scripts/examples.sh"
lint = "./scripts/lint.sh"
serve = "python -m http.server --directory docs"
tests = "./scripts/tests.sh"
