[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
odeanimate = {editable = true, path = "."}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
coverage = "*"
ffmpeg-python = "*"
handout = "*"
install = "*"
jupyterlab = "*"
matplotlib = "*"
pylint = "*"
pytest = "*"
pytest-html = "*"
setuptools = "*"
appnope = "*"
ipywidgets = "*"
jupyterlab-katex = "*"
python-lsp-server = {extras = ["all"], version = "*"}
twine = "*"
build = "*"

[requires]
python_version = "3.9"

[scripts]
format = "./scripts/format.sh"
lint = "./scripts/lint.sh"
tests = "./scripts/tests.sh"
